In [1]:
# importing libraries
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
data = pd.read_csv('Position_Salaries.csv')
data.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [7]:
x = data[['Position', 'Level']]
y = data['Salary']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=0)

In [11]:
from sklearn.linear_model import LinearRegression
# lin_reg = LinearRegression().fit(x_train, y_train)

### Could Not Convert String into Float or int so its a useless data to work with you have to assigned numbers to the positions and then again predict their salary.